.sidebar__baithakIcon{
    height: 45px;
    width: 45px;
    color: var(--baithak-color);
    margin-left: 20px;
}
.sidebar{
    border-right: 1px solid var(--baithak-background);
    flex: 0.2;
    margin-top: 10px;
    padding-left: 20px ;
    padding-right: 20px ;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar__post {
    background-color: var(--baithak-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 10px !important;
}